@font-face {
  font-family: pokemon;
  src: url(../../assets/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: pokemon2;
  src: url(../../assets/Pokemon\ Hollow.ttf);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96vw;
  height: 93vh;
  margin: 1vh 2vw 1vh 2vw;
  background-color: #FE0065;
  border-radius: 2vw;
  box-shadow: 0 1.5vw 4.5vw rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}

body {
  background-color: rgba(193, 231, 255, 1);
  -webkit-overflow-scrolling: touch;
}

.Header {
  font-size: 2vh;
  color: red;
  text-align: center;
  font-weight: bolder;
  height: 2vh;
  width: 100vw;
  margin-top: 1vh;
  margin-bottom: 0;
  padding: 0 0 0 0;
  line-height: 2.4vh;
  letter-spacing: .5vh;
  font-family: pokemon;
}

.generations {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 94bh;
  width: 5vw;
  align-self: center;
}

.generations > button {
  height: 5vh;
  width: 5vh;
  margin: 1.5vh 0 1.5vh .75vw;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  color: white;
}

.generations > button > img {
  height: 5vh;
  width: 5vh;
  border-radius: 0px;
  border-width: 0px;
}

.generations > button > p {
  margin: 0 0 0 .5vh;
  padding: 0 0 0 0;
  font-size: 1vh;
  color: rgba(193, 231, 255, 1);
}

.genHeader {
  font-size: 2vh;
  color: rgba(193, 231, 255, 1);
  text-align: center;
  font-weight: bolder;
  margin: 0 0 0 2.5vh;
  padding: 0 0 0 0;
  font-family: pokemon2;
  letter-spacing: .5vh;
}

@media (max-width: 700px) {
  .generations > button {
    height: 5vw;
    width: 5vw;
    margin: 1.5vh 0 1.5vh 1.5vw;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    color: white;
  }

  .generations > button > img {
    height: 5vw;
    width: 5vw;
    border-radius: 0px;
    border-width: 0px;
  }

  .genHeader {
    margin-left: 3vh;
    letter-spacing: .3vh;
  }
  /* .Header {
    padding-top: 1vh;
    line-height: 1vh;
    font-size: 1.5vh;
  } */

}

@media (max-height: 625px) {
  .Header {
    font-size: 2.5vh;
    height: 2vh;
    width: 100vw;
    margin-top: 1vh;
    line-height: 2.4vh;
    letter-spacing: .5vh;
  }
}