@font-face {
  font-family: pokemon;
  src: url(../../assets/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: pokemon2;
  src: url(../../assets/Pokemon\ Hollow.ttf);
}

@font-face {
  font-family: pokemonGB;
  src: url(../../assets/Pokemon\ GB.ttf);
}

@font-face {
  font-family: pokemonUnownGB;
  src: url(../../assets/Pokemon\ Unown\ GB.ttf);
}

/* Fonts obtained from: https://www.fontspace.com/jackster-productions/pokemon-gb */

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96vw;
  height: 93vh;
  margin: 1vh 2vw 1vh 2vw;
  background-color: #FE0065;
  border-radius: 2vw;
  box-shadow: 0 1.5vw 4.5vw rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}

body {
  background-color: rgba(193, 231, 255, 1);
  -webkit-overflow-scrolling: touch;
}

.Header {
  font-size: 2vh;
  color: darkred;
  text-align: center;
  font-weight: bolder;
  height: 2vh;
  width: 100vw;
  margin-top: 1vh;
  margin-bottom: 0;
  padding: 0 0 0 0;
  line-height: 2.4vh;
  letter-spacing: .5vh;
  font-family: pokemon;
}

.generations {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 94bh;
  width: 5vw;
  align-self: center;
  align-items: center;
}

.generations > button {
  height: 5vh;
  width: 5vh;
  margin: 1.5vh 0 1.5vh .75vw;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  color: white;
}

.generations > button > img {
  height: 5vh;
  width: 5vh;
  border-radius: 0px;
  border-width: 0px;
}

/* I found the below animation code at: https://codepen.io/theDeanH/pen/zBZXLN*/

.generations > button > img:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.generations > button > p {
  margin: 0 0 0 .5vh;
  padding: 0 0 0 0;
  font-size: 1vh;
  color: rgba(193, 231, 255, 1);
}

.genHeader {
  font-size: 1.25vw;
  color: black;
  /* color: rgba(193, 231, 255, 1); */
  text-align: center;
  font-weight: bolder;
  margin: 0 0 0 2.5vh;
  padding: 0 0 0 0;
  font-family: pokemonGB;
}

@media (max-width: 700px) {
  .generations > button {
    height: 5vw;
    width: 5vw;
    margin: 1.5vh 0 1.5vh 1.5vw;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    color: white;
  }

  .generations > button > img {
    height: 5vw;
    width: 5vw;
    border-radius: 0px;
    border-width: 0px;
  }

  .genHeader {
    margin-left: 3vh;
    font-size: 2.5vw;
  }

  .generations > button > p {
    margin: 0 0 0 1.75vw;
  }

  /* .Header {
    padding-top: 1vh;
    line-height: 1vh;
    font-size: 1.5vh;
  } */

}

@media (max-height: 700px) and (min-width: 625px) {
  .Header {
    font-size: 2.5vh;
    height: 2vh;
    width: 100vw;
    margin-top: 1vh;
    line-height: 2vh;
    letter-spacing: .5vh;
  }

  .generations > button {
    margin: 2vh 0 2vh 0;
    width: 5vh;
    height: 5vh;
  }

  .generations > button > img {
    width: 5vh;
    height: 5vh;
  }

  .generations > button > p {
    margin: 0 0 0 1vw;
  }
}