@font-face {
  font-family: pokemon;
  src: url(../../assets/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: pokemonGB;
  src: url(../../assets/Pokemon\ GB.ttf);
}

@font-face {
  font-family: pokemonUnownGB;
  src: url(../../assets/Pokemon\ Unown\ GB.ttf);
}

.detail-view {
    width: 50%;
    height: 90vh;
    height: 100%;
    padding: 1vw;
    background-color: #df095e;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sprite-image {
    width: 30vw;
    height: 30vw;
    margin: .5vw auto;
    background-color:rgba(135, 206, 250, 1);
    border: .75vw solid rgb(255, 239, 98);
    border-radius: 1.5vw;
    color: #585858;
  }

  .data-wrapper {
    width: 90%;
    height: 37vh;
    padding: 1vw;
    margin: 0 auto;
    background-color: rgba(193, 231, 255, 1);
    border-radius: 1.5vw;
    box-shadow: inset 0 0 2vw rgba(0, 0, 0, 0.22);
    color: black;
  }

  .data-name {
    font-size: 2.25vh;
    line-height: 3vh;
    font-weight: bold;
    font-family: pokemonGB;
  }

  .data-info {
    font-size: 1.75vh;
    line-height: 2.25vh;
    margin: 1vh 0 0 0;
    font-family: pokemonGB;
  }

  .unown {
    font-family: pokemonUnownGB;
  }

  @media (max-width: 700px) {

    .data-wrapper {
      width: 90%;
      height: 50vh;
      padding: 1vw;
      margin: 0 auto;
      background-color: rgba(193, 231, 255, 1);
      border-radius: 1.5vw;
      box-shadow: inset 0 0 2vw rgba(0, 0, 0, 0.22);
      color: black;
      text-align: center;
    }

    .data-name {
      font-size: 1.5vh;
      line-height: 1.6vh;
      font-weight: bold;
    }

    .data-info {
      font-size: 1.3vh;
      line-height: 1.4vh;
    }
  }

  @media (max-height: 700px)  and (min-width: 850px) {
    .data-wrapper {
      height: 50vh;
    }

    .sprite-image {
      width: 40vh;
      height: 40vh;
    }

    .data-name {
      font-size: 3.5vh;
      line-height: 3.75vh;
      font-weight: bold;
    }

    .data-info {
      font-size: 3vh;
      line-height: 3.25vh;
    }
  }
